body,
html {
  width: 100%;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  background: #20253f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo {
  /* visibility: hidden; */
  border: 1px solid grey;
  width: 400px;
  height: 400px;
  background: #d6dffe;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.hermanWrapper {
  width: 100%;
  height: 305px;
  /* border: 2px solid red; */
  border-radius: 50%;
  overflow: hidden;
}

.herman {
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 150px;
}

.hole {
  position: absolute;
  width: 150px;
  height: 20px;
  border-radius: 50%;
  background: black;
  left: 125px;
  top: 290px;
}

.shadow {
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 20px;
  background: radial-gradient(rgb(100, 100, 100, 0.6), rgb(0, 0, 0, 0) 75%);
  left: 125px;
  top: 290px;
  background-repeat: no-repeat;
}
